.about {
  padding: 100px 0;

  @media (max-width:900px) {
    padding: 60px 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 100px;

    @media (max-width:1200px) {
      justify-content: center;
    }
    @media (max-width:900px) {
      flex-direction: column;
      column-gap: 0;
      row-gap: 40px;
    }
  }

  &__content {
    position: relative;
    max-width: 530px;
    padding: 33px 45px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(73, 93, 76, 0.1);
    border-radius: 50px;
    &::before {
      position: absolute;
      z-index: -1;
      content: '';
      top: -50px;
      left: -100px;
      width: 656px;
      height: 499px;
      background-color: rgba(186, 255, 195, 0.5);
      filter: blur(100px);
    }

    .section-title {
      position: relative;
      margin-bottom: 20px;
      &::after {
        position: absolute;
        content: 'Pascal vent';
        font-size: 21px;
        line-height: 28px;
        text-transform: uppercase;
        text-decoration: underline;
        color: #78C081;
        top: 21px;
        left: 158px;
        @media (max-width:1080px) {
          font-size: 17px;
          top: 15px;
          left: 123px;
        }
        @media (max-width:400px) {
          font-size: 12px;
          top: 10px;
          left: 93px;
        }
      }
    }
  }

  &__content-text {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__content-span {
    font-weight: 700;
  }

  &__items-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 90px;

    @media (max-width:1200px) {
      flex-direction: column;
      column-gap: 0;
      row-gap: 40px;
    }
    @media (max-width:900px) {
      max-width: 540px;
      flex-direction: row;
      column-gap: 80px;
    }
    @media (max-width:590px) {
      width: 350px;
      flex-direction: column;
      column-gap: 0;
    }
    @media (max-width:400px) {
      width: 300px;
    }
  }

  &__item {
    position: relative;
    text-align: center;
    max-width: 231px;

    @media (max-width:590px) {
      &:nth-child(even) {
        margin-left: auto;
      }
      &:nth-child(odd) {
        margin-right: auto;
      }
    }

    &::before {
      position: absolute;
      content: '';
      width: 122px;
      height: 122px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(186, 255, 195, 0.5);
      filter: blur(50px);
    }
  }

  &__item-slogan {
    font-family: $Ruberoid;
    font-size: 24px;
    line-height: 47px;
    color: #78C081;
  }

  &__item-span {
    font-size: 35px;
  }

  &__item-text {
    color: #7CA381;
  }
}