.none {
	display: none !important;
}

.none-mobile {
	@media(max-width:750px) {
		transform: translateX(200%);
	}
}

.visible-overlay {
	transform: translate(150%) !important;
}

.visible-modal {
	transform: translate(-50%, -50%) !important;
}

html,
body {
	scroll-behavior: smooth;
	position: relative;
	overflow-x: hidden;
	height: 100%;
	font-family: $Proxima;
	font-size: 16px;
	line-height: 26px;
	color: #848484;

	@media(max-width:400px) {
		font-size: 14px;
		line-height: 20px;
	}
}

input:focus,
textarea:focus {
	outline: none;
	border: 1px solid #78c081;
	box-shadow: 0 0 15px 5px rgba(120, 192, 129, .3);
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
	@media (max-width: 400px) {
		padding: 0 10px;
	}
}

.container--header {
	position: relative;
	max-width: 1380px;
}

.section-title {
	font-family: $Ruberoid;
	font-size: 45px;
	line-height: 60px;
	font-weight: 400;
	color: #495E4C;
	text-transform: capitalize;

	@media(max-width:1080px) {
		font-size: 36px;
		line-height: 48px;
	}
	@media(max-width:400px) {
		font-size: 26px;
		line-height: 42px;
	}
}

.title {
	font-family: $Ruberoid;
	color: #495E4C;
	text-transform: capitalize;
	font-size: 35px;
	line-height: 45px;
	font-weight: 400;
}

.main__title {
	font-size: 64px;
	line-height: 74px;
	text-transform: capitalize;
	@media(max-width:1080px) {
		font-size: 50px;
	}
	@media(max-width:530px) {
		font-size: 36px;
	}
	@media(max-width:360px) {
		font-size: 28px;
		line-height: 56px;
	}
}

.button {
	cursor: pointer;
	position: relative;
	width: 209px;
	height: 55px;
	border: none;
	text-transform: uppercase;
	font-family: $Ruberoid;
	font-size: 15px;
	letter-spacing: 1.4px;
	color: #fff;
	background-color: #5CCD6A;
	box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
	border-radius: 17px;
	transition: .5s all;

	&:hover {
		background-color: #54E165;
	}

	&:disabled {
		background-color: #9CD3A3;
		cursor: no-drop;
	}

	&::before {
		position: absolute;
		content: '';
		top: -10px;
		left: -10px;
		width: 229px;
		height: 75px;
		background-color: rgb(120, 192, 129, 0.25);
		border-radius: 20px;
	}
}

.button--big {
	width: 447px;
	height: 85px;
	border-radius: 30px;
	@media(max-width:530px) {
		width: 209px;
		height: 55px;
		border-radius: 17px;
	}
	&::before {
		width: 477px;
		height: 115px;
		top: -15px;
		left: -15px;
		border-radius: 40px;
		@media(max-width:530px) {
			top: -10px;
			left: -10px;
			width: 229px;
			height: 75px;
			border-radius: 20px;
		}
	}
}

.button--close {
	position: absolute;
	top: -75px;
	right: 10px;
	width: 53px;
	height: 49px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	&::before {
		width: 73px;
		height: 69px;
		border-radius: 18px;
	}
}

.buttom__mobile-menu {
	z-index: 99;
	cursor: pointer;
	position: relative;
	border: none;
	width: 49px;
	height: 49px;
	background-color: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(73, 93, 76, 0.15);
	border-radius: 15px;
	display: none;
	margin-left: auto;
	@media(max-width:750px) {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&::before {
		position: absolute;
		content: '';
		z-index: -1;
		top: -10px;
		left: -10px;
		width: 69px;
		height: 69px;
		background-color: rgba(255, 255, 255, 0.45);
		border-radius: 20px;
	}
}

.text__green {
	color: #78C081;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
