.header {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(180deg, #F1F1F1 0%, #F0F2F1 16.25%, #EBEDEC 43.26%, #E6E8E7 72.5%, #DEE2E1 100%);
  @media(max-width:870px) {
    padding-bottom: 300px;
    height: unset;
  }
  @media(max-width:560px) {
    padding-bottom: 400px;
  }
  @media(max-width:530px) {
    padding-bottom: 300px;
  }
  @media(max-width:355px) {
    padding-bottom: 260px;
  }

  &__bg {
    position: absolute;
    width: 70%;
    height: 100vh;
    right: -23%;
    top: 0;
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width:1500px) {
      right: -11%;
    }
    @media (max-width:1300px) {
      right: 0;
      background-size: cover;
    }
    @media(max-width:870px) {
      width: 100%;
      right: unset;
      left: 0;
      top: unset;
      bottom: -200px;
      transform: rotate(90deg);
    }
    @media(max-width:560px) {
      background-image: unset;
      bottom: -300px;
    }
    @media(max-width:355px) {
      bottom: -350px;
    }
  }

  &__bg-img {
    display: none;
    @media (max-width:560px) {
      display: inline-block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__top-bg {
    position: fixed;
    z-index: 45;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 114px;
    background-color: #D9FADD;
    border-radius: 0px 0px 70px 70px;

    @media(max-width:1250px) {
      height: 160px;
      position: absolute;
    }
  }

  &__top {
    position: fixed;
    z-index: 50;
    left: 100px;
    right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 114px;
    padding: 15px 40px;
    @media(max-width:1500px) {
      left: 0;
      right: 0;
    }
    @media(max-width:1250px) {
      position: relative;
      height: 160px;
      flex-wrap: wrap;
    }
    @media(max-width:450px) {
      padding: 15px 20px;
    }
    @media(max-width:380px) {
      padding: 15px 0px;
    }
  }

  &__logo {
    z-index: 99;
  }

  &__nav {
    transition: .5s all;

    @media(max-width:1250px) {
      order: 3;
      margin: 0 auto;
    }

    @media(max-width:750px) {
      position: absolute;
      z-index: 50;
      width: 254px;
      right: 10px;
      padding: 120px 50px;
      top: 30px;
      background-color: #D9FADD;
      border-radius: 30px;
    }
    @media(max-width:450px) {
      right: -15px;
    }
  }

  &__nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media(max-width:750px) {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__nav-item {
    position: relative;
    margin: 0 20px;
    &::after {
      position: absolute;
      transition: .7s all;
      content: '';
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: rgba(84, 225, 101, .7);
    }

    &:hover {
      .header__nav-link {
        color: #54E165;
      }
    }

    &:hover::after {
      width: 100%;
    }

    @media(max-width:1250px) {
      margin: 0 40px;
    }
    @media(max-width:1070px) {
      margin: 0 20px;
    }
    @media(max-width:850px) {
      margin: 0 10px;
    }
    @media(max-width:750px) {
      margin: 10px 0;
    }
  }

  &__nav-link {
    text-transform: lowercase;
    color:#495E4C;
    transition: .3s all;
  }

  &__btn {
    @media(max-width:1250px) {
      margin-left: 200px;
    }
    @media(max-width:750px) {
      position: absolute;
      z-index: 760;
      top: 450px;
      right: 32px;
      margin: 0px;
    }
    @media(max-width:450px) {
      right: 7px;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    max-width: 50%;
    margin-right: auto;
    text-align: end;
    padding-top: 164px;
    @media(max-width:1250px) {
      padding-top: 50px;
    }
    @media(max-width:870px) {
      max-width: 70%;
      margin: 0 auto;
    }
    @media(max-width:650px) {
      max-width: 100%;
      margin: 0 auto;
    }

    .main__title {
      position: relative;
      width: 600px;
      margin: 0 auto;
      margin-bottom: 20px;
        @media(max-width:1080px) {
          width: 475px;
        }
        @media(max-width:530px) {
          width: 300px;
        }
        @media(max-width:360px) {
          width: 280px;
        }

      &::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 73px;
        width: 148px;
        height: 3px;
        background-color: #78C081;
        border-radius: 1.5px;
        @media(max-width:1080px) {
          width: 110px;
        }
        @media(max-width:530px) {
          width: 90px;
          left: 0;
        }
        @media(max-width:360px) {
          width: 70px;
          height: 2px;
          left: 45px;
        }
      }
    }
  }

  &__content-wrapper {
    margin-left: auto;
    max-width: 515px;
    text-align: start;
  }

  &__content-text {
    position: relative;
    margin-bottom: 52px;
    padding-left: 62px;
    font-size: 22px;
    line-height: 32px;
    color: #7CA381;
    &::before{
      position: absolute;
      content: '';
      width: 50px;
      height: 10px;
      top: 11px;
      left: 0;
      background-image: url(../images/header-text-ellips.png);
    }
    @media(max-width:1080px) {
      margin-left: 20px;
      font-size: 18px;
    }
    @media(max-width:530px) {
      margin-left: 20px;
      font-size: 14px;
    }
  }

  &__content-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 78px;
    @media(max-width:1080px) {
      margin-left: 40px;
    }
    @media(max-width:1040px) {
      flex-direction: column;
    }
  }
  
  &__content-adress {
    position: relative;
    display: inline-block;
    padding-left: 48px;
    color: #7B897D;
    transition: .3s all;
    &:hover {
      color: #54E165;
    }
    @media(max-width:1040px) {
      margin-bottom: 40px;
    }
    &::before {
      position: absolute;
      content: '';
      width: 24px;
      height: 32px;
      top: 10px;
      left: 0;
      background-image: url(../images/location-icon.svg);
      background-size: cover;
      @media(max-width:1040px) {
        top: 0;;
      }
    }
  }

  &__content-phonebox {
    position: relative;
    padding-left: 54px;
    &::before {
      position: absolute;
      content: '';
      width: 32px;
      height: 32px;
      top: 10px;
      left: 0;
      background-image: url(../images/phone-icon.png);
      background-size: cover;
      @media(max-width:1040px) {
        top: 0;;
      }
      @media(max-width:426px) {
        top: 10px;;
      }
    }
  }

  &__content-phonelink {
    display: inline-block;
    color: #7B897D;
    transition: .3s all;
    &:hover {
      color: #54E165;
    }
    &:first-child {
      margin-right: 30px;
      @media (max-width:400px) {
        margin-right: 50px;
      }

    }
  }

  &__button--big {
    display: inline-block;
    text-align: center;
    line-height: 85px;

    @media(max-width:1150px) {
      margin-left: 20px;
    }
    @media(max-width:530px) {
      line-height: 55px;
    }
  }
}