.how-work {
  margin-bottom: 100px;
  @media (max-width:650px) {
    margin-bottom: 50px;
  }

  .section-title {
    margin-bottom: 100px;
    @media (max-width:800px) {
      margin-bottom: 50px;
    }
  }

  &__items-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 25px;

    @media (max-width:800px) {
      flex-direction: column;
      align-items: center;
      column-gap: 0;
      row-gap: 40px;
    }
  }

  &__item {
    position: relative;
    max-width: 48%;
    @media (max-width:800px) {
      max-width: 70%;
    }
    @media (max-width:650px) {
      max-width: 290px;
    }

    &:nth-child(odd) {
      margin-bottom: 200px;
      @media (max-width:800px) {
        margin-bottom: 0;
      }
    }
    &:nth-child(even) {
      margin-top: 130px;
      text-align: end;
      @media (max-width:800px) {
        margin-top: 0;
      }
    }

    &::before,
    &::after {
      position: absolute;
      z-index: -1;
      content: '';
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &::after {
      @media (max-width:800px) {
        display: none;
      }
    }
    
  }

  &__item--one {
    &::before {
      right: 0;
      top: -50px;
      width: 345px;
      height: 270px;
      background-image: url(../images/how-work/how-work-itembg01.svg);
      @media (max-width:800px) {
        transform: scale(50%);
      }
      @media (max-width:650px) {
        top: -70px;
        right: -100px;
      }
    }
    &::after {
      bottom: -70px;
      right: -90px;
      width: 527px;
      height: 78px;
      background-image: url(../images/how-work/how-work-itemline01.svg);
      @media (max-width:960px) {
        right: -170px;
      }
    }
  }

  &__item--two {
    &::before {
      left: 60px;
      top: -80px;
      width: 345px;
      height: 270px;
      background-image: url(../images/how-work/how-work-itembg02.svg);
      @media (max-width:800px) {
        left: 0;
        transform: scale(50%);
      }
      @media (max-width:650px) {
        top: -40px;
        left: -100px;
      }
    }
    &::after {
      bottom: -60px;
      left: -200px;
      width: 527px;
      height: 78px;
      background-image: url(../images/how-work/how-work-itemline02.svg);
    }
  }

  &__item--tree {
    &::before {
      right: 20px;
      top: -100px;
      width: 450px;
      height: 275px;
      background-image: url(../images/how-work/how-work-itembg03.svg);
      @media (max-width:960px) {
        right: -60px;
      }
      @media (max-width:800px) {
        transform: scale(50%);
      }
      @media (max-width:650px) {
        top: -60px;
        right: -120px;
      }
    }
    &::after {
      bottom: -90px;
      right: -50px;
      width: 219px;
      height: 95px;
      background-image: url(../images/how-work/how-work-itemline03.svg);
    }
  }
  &__item--four {
    &::before {
      left: 60px;
      top: -80px;
      width: 320px;
      height: 300px;
      background-image: url(../images/how-work/how-work-itembg04.svg);
      opacity: .7;
      @media (max-width:800px) {
        left: 0;
        transform: scale(50%);
      }
      @media (max-width:650px) {
       left: -80px;
       top: -40px; 
      }
    }
    &::after {
      bottom: -120px;
      left: -200px;
      width: 587px;
      height: 139px;
      background-image: url(../images/how-work/how-work-itemline04.svg);
    }
  }
  &__item--five {
    &::before {
      right: 150px;
      top: -40px;
      width: 275px;
      height: 270px;
      background-image: url(../images/how-work/how-work-itembg05.svg);
      @media (max-width:880px) {
        right: 50px;
      }
      @media (max-width:800px) {
        right: 0;
        top: -60px;
        transform: scale(50%);
      }
      @media (max-width:650px) {
        right: -80px; 
      }
    }
    &::after {
      bottom: -220px;
      right: -380px;
      width: 675px;
      height: 165px;
      background-image: url(../images/how-work/how-work-itemline05.svg);
    }
  }
  &__item--six {
    &::before {
      left: 0px;
      top: -20px;
      width: 301px;
      height: 189px;
      background-image: url(../images/how-work/how-work-itembg06.svg);
      @media (max-width:800px) {
        transform: scale(50%);
      }
      @media (max-width:650px) {
       left: -80px;
       top: 0; 
      }
    }
  }
  &__item--seven {
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 0 !important;

    @media (max-width:1090px) {
      max-width: 75%;
    }
    @media (max-width:720px) {
      max-width: 100%;
    }
    @media (max-width:650px) {
      max-width: 290px;
    }

    &::before {
      left: 20%;
      top: 0px;
      width: 402px;
      height: 99px;
      background-image: url(../images/how-work/how-work-itembg07.svg);
      @media (max-width:880px) {
        left: 8%;
      }
      @media (max-width:800px) {
        transform: scale(80%);
      }
      @media (max-width:720px) {
        left: 20%;
      }
      @media (max-width:670px) {
        left: 17%;
      }
      @media (max-width:650px) {
        transform: scale(50%);
        top: 35%;
        left: -20%;
      }
    }

    .how-work__item-title {
      margin-bottom: 0;
    }
  }

  &__item-title {
    margin-bottom: 15px;
    font-family: $Ruberoid;
    font-size: 35px;
    line-height: 47px;
    font-weight: 400;
    text-transform: capitalize;
    color: #78C081;

    @media (max-width:1080px) {
      font-size: 30px;
    }
    @media (max-width:880px) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__item-text {
    color: #495E4C;
    @media (max-width:880px) {
      font-size: 14px;
    }
  }
}