.services {
  padding: 100px 0;
  @media(max-width:950px) {
    padding: 50px 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    column-gap: 185px;
    @media(max-width:1200px) {
      column-gap: 100px;
    }
    @media(max-width:950px) {
      column-gap: 0px;
      flex-direction: column;
    }
  }

  &__content-wrapper {
    max-width: 444px;

    @media(max-width:1080px) {
      max-width: 360px;
    }
    @media(max-width:950px) {
      max-width: 100%;
      margin-bottom: 50px;
      padding: 0 40px;
    }
    @media(max-width:450px) {
      padding: 0;
    }

    .section-title {
      position: relative;
      margin-bottom: 22px;
      &::after {
        position: absolute;
        content: '';
        left: 200px;
        bottom: 21%;
        width: 245px;
        height: 2px;
        background-color: #78C081;
        border-radius: 1.5px;
        @media(max-width:1080px) {
          width: 200px;
          left: 150px;
        }
        @media(max-width:400px) {
          width: 135px;
          left: 120px;
        }
      }
    }
  }

  &__content-text {
    margin-bottom: 17px;
  }

  &__tabs-wrapper {
    position: relative;
    flex-shrink: 0;
    @media(max-width:950px) {
      flex-shrink: 1;
    }
  }

  &__tabs-row {
    position: absolute;
    top: 280px;
    left: -281px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 490px;
    margin: 0 auto;
    background-color: #D9FADD;
    border-radius: 45px 45px 0px 0px;
    padding: 10px 10px 0 10px;
    transform: rotate(-90deg);
    @media(max-width:950px) {
      transform: rotate(0deg);
      position: relative;
      top: unset;
      left: unset;
    }
    @media(max-width:750px) {
      max-width: 100%;
    }
    @media(max-width:370px) {
      flex-direction: column;
    }
  }

  &__tab {
    position: relative;
    cursor: pointer;
    padding: 24px 75px 24px 25px;
    background-color: #fff;
    border-radius: 0px 40px 0px 0px;
    font-size: 14px;
    line-height: 17px;
    color: #7CA281;
    transition: .3s all;
    @media(max-width:750px) {
      width: 100%;
    }
    @media(max-width:550px) {
      padding: 24px 0;
      text-align: center;
    }
    @media(max-width:370px) {
      border-radius: 0px 0px 40px 40px;
    }
    &::after {
      position: absolute;
      transition: .3s all;
      content: '';
      width: 33px;
      height: 33px;
      right: 25px;
      top: 16px;
      background-image: url(../images/services/tabsicon-disabled02.svg);
      @media(max-width:550px) {
        display: none;
      }
    }

    &:first-child {
      border-radius: 40px 0px 0px 0px;
      @media(max-width:370px) {
        border-radius: 40px 40px 0px 0px;
      }
      &::after {
        background-image: url(../images/services/tabsicon-disabled01.svg);
      }
      &:hover {
        color: #54E165;
        &::after {
          background-image: url(../images/services//tabsicon-hover01.svg);
        }
      }
    }

    &:last-child {
      &:hover {
        color: #54E165;
        &::after {
          background-image: url(../images/services//tabsicon-hover02.svg);
        }
      }
    }
  }

  &__tab:first-child.services__tab--active {
    &::after {
      background-image: url(../images/services/tabsicon-active01.svg);
    }
  }

  &__tab--active {
    background-color: #5CCD6A;
    color: #fff;
    pointer-events: none;
    &::after {
      background-image: url(../images/services/tabsicon-active02.svg);
    }
  }

  &__tabscard {
    display: flex;
    align-items: center;
    column-gap: 40px;
    padding: 0 40px;
    background-color: #D9FADD;
    border-radius: 65px 0px 0px 65px;
    @media(max-width:950px) {
      border-radius: 65px 65px 65px 65px;
      padding: 0;
      padding-left: 30px;
      column-gap: 20px;
    }
    @media(max-width:750px) {
      flex-direction: column;
      column-gap: 0px;
      padding: 15px;
      padding-top: 30px;
      border-radius: 0px 0px 65px 65px;
    }
  }

  &__tabscard-list {
    max-width: 360px;

    @media(max-width:1300px) {
      max-width: 250px;
    }
    @media(max-width:750px) {
      max-width: 100%;
      margin-bottom: 30px;
    }
  }

  &__tabscard-item {
    display: flex;
    column-gap: 15px;
    align-items: center;
    margin-bottom: 30px;
    @media(max-width:750px) {
      margin-bottom: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__tabscard-iconbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 34px;
    height: 34px;  
    background-color: #FFFFFF;
    border-radius: 10px;
  }

  &__tabscard-text {
    font-size: 16px;
    line-height: 30px;
    color: #495D4C;

    @media(max-width:950px) {
      font-size: 14px;
      line-height: 24px
    }
    @media(max-width:750px) {
      font-size: 16px;
      line-height: 30px;
    }
    @media(max-width:400px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__tabscard-imgbox {
    max-width: 490px;
    height: 655px;
    background-color: #D9FADD;
    filter: drop-shadow(-4px 0px 8px rgba(15, 44, 15, 0.35));
    border-radius: 65px 0px 0px 65px;
    @media(max-width:950px) {
      border-radius: 65px 65px 65px 65px;
      max-width: 400px;
    }
    @media(max-width:750px) {
      max-width: 100%;
      width: 100%;
      height: 300px;
    }
    @media(max-width:400px) {
      height: 250px;
    }
  }

  &__tabscard-img {
    display: inline-block;
    height: 100%;
    object-fit: cover;
    border-radius: 65px 0px 0px 65px;
    @media(max-width:950px) {
      border-radius: 65px 65px 65px 65px;
    }
    @media(max-width:750px) {
      width: 100%;
    }
  }
}
