.steps{
  margin-bottom: 100px;

  .section-title {
    position: relative;
    margin-right: 80px;
    @media (max-width:930px) {
      margin-right: 0;
      margin-bottom: 40px;
    }
    &::after {
      position: absolute;
      content: '';
      top: 33px;
      left: 420px;
      height: 2px;
      width: 100px;
      background-color: #78C081;
      border-radius: 1.5px;

      @media (max-width:1193px) {
        top: 150px;
        left: 230px;
      }
      @media (max-width:1080px) {
        top: 125px;
        left: 200px;
      }
      @media (max-width:945px) {
        top: 169px;
        left: 180px;
        width: 80px;
      }
      @media (max-width:930px) {
        top: 27px;
        left: 340px;
      }
      @media (max-width:465px) {
        top: 125px;
        left: 180px;
        width: 120px;
      }
      @media (max-width:400px) {
        top: 22px;
        left: 240px;
        width: 60px;
      }
      @media (max-width:349px) {
        top: 107px;
        left: 140px;
        width: 60px;
      }
    }
  }

  &__top-wrapper {
    display: flex;
    justify-content: space-between;
    @media (max-width:930px) {
      flex-direction: column;
    }
  }

  &__benefit-content {
    max-width: 560px;
  }

  &__benefit-title {
    margin-bottom: 15px;
    font-family: $Ruberoid;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    text-transform: capitalize;
    color: #78C081;
    @media (max-width:400px) {
      font-size: 22px;
    }
  }

  &__benefit-list {
    margin-bottom: 85px;
  }

  &__benefit-item {
    position: relative;
    margin-bottom: 10px;
    padding-left: 27px;
    line-height: 19px;
    color: #7CA381;
    &::before {
      position: absolute;
      content: '';
      width: 17px;
      height: 17px;
      top: 0;
      left: 0;
      background-image: url(../images/steps/cooling-icon.svg);
    }
  }

  &__bottom-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 290px;
    @media (max-width:1050px) {
      column-gap: 200px;
    }
    @media (max-width:850px) {
      column-gap: 120px;
    }
    @media (max-width:600px) {
      max-width: 210px;
      margin: 0 auto;
      flex-direction: column;
      column-gap: 0;
      row-gap: 25px;
    }

  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width:600px) {
      &:nth-child(1) {
        margin-left: 37px;
        margin-right: auto;
        .steps__item-imgbox::before {
          background-image: url(../images/steps/arrow01.svg) !important;
          width: 200px !important;
          height: 100px !important;
          top: -65px !important;
          right: 50px !important;
        }
        .steps__item-imgbox::after {
          background-image: url(../images/steps/arrow02.svg) !important;
          width: 200px !important;
          height: 130px !important;
          top: 60px !important;
          left: 55px !important;
        }
      }
      &:nth-child(2) {
        margin-left: auto;
      }
      &:nth-child(3) {
        margin-right: auto;
        .steps__item-imgbox::before {
          background-image: url(../images/steps/arrow03.svg) !important;
          width: 140px !important;
          height: 140px !important;
          top: -85px !important;
          right: 00px !important;
        }
        .steps__item-imgbox::after {
          background-image: url(../images/steps/arrow-bottom.svg) !important;
          width: 200px !important;
          height: 40px !important;
          top: 70px !important;
          left: 100px !important;
        }
      }

    }


    &:nth-child(1),
    &:nth-child(3) {
      .steps__item-imgbox::before,
      .steps__item-imgbox::after {
        position: absolute;
        content: '';
        width: 286px;
        height: 37px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        @media (max-width:1050px) {
          width: 196px;;
        }
        @media (max-width:850px) {
          width: 116px;
        }
      }
      .steps__item-imgbox::before {
        top: 65%;
        right: 110px;
        background-image: url(../images/steps/arrow-bottom.svg);
        @media (max-width:850px) {
          top: 45%;
          right: 102px;
        }
      }
      .steps__item-imgbox::after {
        top: 7%;
        left: 115px;
        background-image: url(../images/steps/arrow-top.svg);
        @media (max-width:850px) {
          top: 15%;
          left: 108px;
        }
      }
    }
  }

  &__item-imgbox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    background-color: #D9FADD;
    border-radius: 50%;
    @media (max-width:850px) {
      margin-bottom: 10px;
    }
  }

  &__item-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #495E4C;
    @media (max-width:850px) {
      font-size: 18px;
    }
  }
}